:root {
  --color-light: #ffffff;
  --color-black: #000000;
  --color-dark: #333132;
  --color-gray: #393939;
  --color-accent: #ffa200;

  --font-family-base: "Poppins", sans-serif;
  --font-family-accent: "Lato", sans-serif;

  --font-size-text: 23px;
  --font-size-h1: 82px;
  --font-size-h2: 35px;
  --font-size-accent: 28px;

  --container-width: 1344px;
  --container-padding-x: 48px;

  --transition-duration: 0.2s;
}
